.hv-side-nav {
  background-image: url('/images/image-idea.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center calc(100% - 20px);

  md-list-item.active {
    md-icon {
      color: $primary-color;
    }
  }
}

.hv-side-nav__header {
  text-align: center;
}

.hv-side-nav__logo {
  @extend .image !optional;
  max-width: 200px;
  display: block;
  @include mh(auto);
  @include mv(1.5rem);

  & + .md-subhead{
    margin-top: 0;
  }
}
