<progress-linear></progress-linear>
<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button" ng-click="toggleLeft()" aria-label="Menu">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1>
      Fumiambar
    </h1>

    <!--div id="logoHackatrix">
      <img width="240" height="80" src="images/logo.png">
    </div-->
    <!--md-content id="menuTab" flex ng-show="!state.is('thanksVote')">
      <md-tabs class="md-default" md-dynamic-height>
        <md-tab md-active="state.is('voteList')" label="Vote List" ui-sref="voteList">
        </md-tab>
        <md-tab md-active="state.is('voteResult')" label="Vote Result" ui-sref="voteResult">
        </md-tab>
      </md-tabs>
    </md-content-->



    <md-menu id="menuDrop">
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-svg-icon="more-vert"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ui-sref="user" ui-sref-active="active">
            <md-icon md-svg-icon="list" md-menu-align-target></md-icon>
            Usuarios
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>


  </div>
</md-toolbar>

