<linear-progress></linear-progress>
<md-toolbar md-scroll-shrink>
  <div class="md-toolbar-tools">
    <md-button class="md-icon-button"
      ng-click="toggleLeft()"
      aria-label="Menu">
      <md-icon md-svg-icon="menu">
      </md-icon>
    </md-button>
    <h1>
      Connect
    </h1>
    <md-menu id="menuDrop">
      <md-button
        aria-label="Open phone interactions menu"
        class="md-icon-button"
        ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-svg-icon="more-vert">
        </md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
          <md-button ng-click="logOut()">
            <md-icon
              md-svg-icon="person"
              md-menu-align-target>
            </md-icon>
              Logout
              <!--<div translate="header.menu.logout"></div>-->
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
