# Generated directories
node_modules/
bower_components/
/distro/
/export/
.sass-cache/
source/css/lib/
source/js/lib/
source/index.html
*.map

# Mac OS X hidden files
.DS_Store

# Vim swap files
.*.sw?
# Gedit swap files
*~

# Logs
*.log
