<div layout="row" layout-xs="column" >
  <div flex="50">
    <div flex-order-gt-xs ng layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-show="!loading">
        <div flex="">
            <md-content flex>
                <md-list layout-wrap>
                    <md-list-item  ng-repeat="category in category_list | orderBy:'pk'"
                        ng-click="selectCategory(category)"
                        ng-class="{'md-2-line': true ,'selected': category === selected }">
                            <div flex>
                                <div class="md-list-item-text" layout="column">
                                    <p>Categoria</p>
                                    <h3>{{ category.name }}</h3>
                                </div>
                            </div>

                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>

  </div>
  <div flex="50">
    <md-content flex>
    <p ng-If="!selected.subcategories.length">No hay subcategorias para {{category.name}}, yet.</p>
    <p ng-If="selected.subcategories.length">{{selected.name}}</p>
    <md-list layout-wrap>
        <md-list-item class="md-3-line"  ng-repeat="item in selected.subcategories" ng-click="selectCategory(item)">
            <div class="md-list-item-text" layout="column">
                <p>Sub - Categoria</p>
                <h3>{{item.name}}</h3>
            </div>
            <md-divider inset></md-divider>
        </md-list-item>
    </md-list>
    </md-content>
  </div>
</div>
