<div layout="row" layout-xs="column" >
  <div flex>
    <div flex-order-gt-xs ng layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-show="!loading">
        <div flex="">
            <div layout-padding ng-cloak>
                <md-autocomplete
                    md-search-text="searchText"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="list2(searchText)"
                    md-items="item in users"
                    md-item-text="item.last_name"
                    placeholder="Busqueda"
                    md-delay="500">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.last_name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No user matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>

            <md-content flex>
                <md-list layout-wrap>
                    <md-list-item  ng-repeat="user in users | filter:searchText | orderBy:'-total_score'"
                        ng-click="selectUser(user)"
                        ng-class="{'md-2-line': true ,'selected': user === selected }">
                            <img ng-src="{{ user.avatar }}" class="md-avatar" />
                            <div flex="25">
                                <div class="md-list-item-text" layout="column">
                                    <p>Co worker</p>
                                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                </div>
                            </div>
                            <div flex="25">
                                <div class="md-list-item-text" align="center" layout="column">
                                    <p>Ubicacion</p>
                                    <div align="middle">
                                        <h3 >{{ user.location.name }} <img ng-src="{{ user.location.icon }}" height="20px" width="30px"/></h3>
                                    </div>

                                </div>
                            </div>
                            <div flex="25">
                                 <div class="md-list-item-text" align="center" layout="column">
                                    <p>Recomendacion</p>
                                    <h3>{{ user.total_score }}</h3>
                                </div>
                            </div>
                            <div flex="25">
                                <div>
                                    <div layout="row" layout-align="center" layout-margin>
                                        <md-switch ng-model="user.is_blocked" ng-click="showConfirm($event,user)">
                                            {{user.is_blocked === true ? active = "Bloqueado" : active = "Desbloqueado"}}
                                        </md-switch>
                                    </div>
                                </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>

  </div>
</div>
