<div layout="column">
    <md-toolbar>
        <div class="md-tall">
            <div layout="row">
                <div flex="10">
                  <img alt="{{ user.username }}"
                    style="max-height: 75px; max-width: 75px; margin-top: 5px; margin-left: 26px; margin-right: 16px; border-radius: 50%; box-sizing: border-box;" 
                    src="{{ user.img }}" data-pin-nopin="true">
                </div>
                <div flex="90">
                    <div layout="column">
                    <div flex class="md-display-2">
                        {{ user.first_name }} {{ user.last_name }}
                        <md-button class="md-accent md-raised" ng-click="toggleRight()" aria-label="Mensaje"> Mensaje </md-button>
                    </div>
                    <div flex class="md-subhead">{{ user.skype_id }}</div>
                    <div flex class="md-subhead">{{ user.location  }}</div>
                </div>
            </div>
        </div>
    </md-toolbar>
    <div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Habilidades">
        <md-content class="md-padding">
           <p ng-If="!skills.length">No se encontraron habilidades para {{ user.first_name }} {{ user.last_name }}.</p>
        <md-list ng-If="skills.length">
            <md-list-item class="md-3-line" ng-repeat="item in skills">
                <md-icon md-svg-icon="verified_user" class="md-avatar">
                    </md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{item.name}}</h3>
                    <h4>{{item.description}}</h4>
               </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
        </md-content>
      </md-tab>
      <md-tab label="Recomendaciones">
        <md-content class="md-padding">
           <p ng-If="!starts.length">No se encontraron recomendaciones para {{ user.first_name }} {{ user.last_name }}.</p>
        <md-list ng-If="starts.length">
            <md-list-item class="md-2-line" ng-repeat="item in starts">
                <img ng-src="{{ item.from_user.avatar }}" class="md-avatar" />
                <div class="md-list-item-text" layout="column" flex="40">
                    <p>Co worker</p>
                    <h3>{{item.from_user.first_name}} {{item.from_user.last_name}}</h3>
               </div>
               <div class="md-list-item-text" layout="column" flex="25">
                    <p>Comentario</p>
                    <h3>{{item.text}}</h3>
               </div>
               <div class="md-list-item-text" layout="column" flex="25">
                    <p>Recomendaciones</p>
                    <h3 style="color:rgb(68,138,255);">{{item.keyword.name}}</h3>
               </div>
                <md-divider inset></md-divider>
            </md-list-item>
        </md-list>
        </md-content>
      </md-tab>
    </md-tab>
  </md-content>
</div>