<div layout="row" layout-xs="column">
  <div flex>
    <div ng-show="loading">
        <div layout="row" layout-align="center center" layout-margin>
          <img height="100" width="100" src="image/logo.webp" alt="">
        </div>
        <div layout="row" layout-align="center center">
          <h2>{{messages_load}}</h2>
        </div>
        <div layout="row" layout-sm="column" layout-align="center" ng-show="loading">
            <md-progress-circular md-mode="indeterminate" class="md-accent">
            </md-progress-circular>
        </div>
    </div>
    <div flex-order-gt-xs ng ng-cloak="" layout-gt-sm="row" layout="column" class="listdemoBasicUsage" ng-show="!loading">
        <div flex="">
            <div layout-padding>
                <md-autocomplete
                    md-input-minlength="2"
                    md-input-maxlength="18"
                    md-search-text="searchText"
                    md-items="item in users | filter:searchText"
                    md-item-text="item.last_name"
                    md-min-lengrh="3"
                    placeholder="Busqueda">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.last_name}}</span>
                    </md-item-template>
                    <md-not-found>
                        No user matching "{{searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>
            </div>

            <md-content flex>
                <md-list layout-wrap>
                    <md-list-item flex="33" flex-sm="100" ng-repeat="user in users | filter:searchText | orderBy:'first_name'" 
                        ng-class="{'md-2-line': true ,'selected': user === selected }">
                            <img ng-src="{{ user.avatar }}" class="md-avatar" />
                            <div flex="25">
                                <div class="md-list-item-text" layout="column">
                                    <p>Co worker</p>
                                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                                </div>
                            </div>
                            <div flex="25">
                                <div class="md-list-item-text" align="center" layout="column">
                                    <p>Ubicacion</p>
                                    <div align="middle">
                                        <h3 >{{ user.location.name }} <img ng-src="{{ user.location.icon }}" height="20px" width="30px"/></h3> 
                                    </div>
                                    
                                </div>
                            </div>
                            <div flex="25">
                                 <div class="md-list-item-text" align="center" layout="column">
                                    <p>Recomendacion</p>
                                    <h3>{{ user.total_score }}</h3>
                                </div>
                            </div>
                            <div flex="25">
                                <div class="md-list-item-text" align="center" layout="column">
                                    <md-switch class="md-secondary" ng-model="user.is_blocked" ng-change="showConfirm($event,user)" aria-label="Switch 1"><div>{{user.is_blocked === true ? active = "Bloqueado" : active = "Desbloqueado"}}</div></md-switch>
                                </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
    
  </div>
</div>