<div layout="row" layout-wrap>
  <section>
    <md-subheader class="md-primary">Lista de Usuarios</md-subheader>
    <md-divider></md-divider>
    <md-list-item class="md-2-line" ng-repeat="user in users | orderBy:'name'" ng-disabled="loading" ng-click="showDialog(user, 'update', $event)">
        <img ng-show="user.picture" ng-src="{{ user.picture }}" class="md-avatar" alt="" />
        <img ng-show="!user.picture" src="svg/account.svg" class="md-avatar" alt="" />
        <div class="md-list-item-text" layout="column">
          <p>Nombre</p>
          <h4>{{ user.name }}</h4>
        </div>
        <div class="md-list-item-text" layout="column">
          <p>Apellidos</p>
          <h4>{{ user.lastName }}</h4>
        </div>
        <div class="md-list-item-text" layout="column">
          <p>Rol</p>
          <h4>{{ user.role.type}}</h4>
        </div>
        <div class="md-list-item-text" layout="column">
          <p>Cargo</p>
          <h4>{{ user.perfomance.type}}</h4>
        </div>
        <div class="md-list-item-text" layout="column">
          <p>Departamento</p>
          <h4>{{ user.department.name}}</h4>
        </div>
        <div class="md-list-item-text" layout="column">
          <md-switch class="md-secondary" ng-change="changeUser(user)" ng-disabled="loading" ng-model="user.active" aria-label="Disabled">
            <span ng-show="user.active">Activo</span>
            <span ng-show="!user.active">Inactivo</span>
          </md-switch>
        </div>
        <div class="md-list-item-text" layout="column" flex>
        </div>
    </md-list-item>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>

  <md-button class="md-fab md-fab-fixed" aria-label="Eat cake" ng-click="showDialog({}, 'new', $event)">
      <md-icon md-svg-icon="add-white"></md-icon>
  </md-button>

</div>

