<div layout="row" layout-xs="column">
    <div flex>
        <div flex-order-gt-xs ng layout-gt-sm="row" layout="column" class="listdemoBasicUsage">
            <div flex="">
                <md-content class="list" flex>
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <img src="https://i.imgur.com/CpYIGjr.png" class="md-card-image" />
                            </md-card-avatar>
                        </md-card-header>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Event 1</span>
                                <span class="md-subhead"><span translate="events.text.eventdate"></span> 02/02/2017</span>
                                <span class="md-subhead"><span translate="events.text.duedate"></span> 03/03/2017</span>
                            </md-card-title-text>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-warn" translate="events.btn.participants"></md-button>
                            </md-card-actions>
                        </md-card-title>
                        <md-card-content>
                            <p>The titles of Washed Out's breakthrough song...</p>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-warn" translate="events.btn.edit"></md-button>
                            </md-card-actions>
                        </md-card-content>
                    </md-card>
                    <md-card>
                        <md-card-header>
                            <md-card-avatar>
                                <img src="https://i.imgur.com/CpYIGjr.png" class="md-card-image" />
                            </md-card-avatar>
                        </md-card-header>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">Event 2</span>
                                <span class="md-subhead"><span translate="events.text.eventdate"></span> 02/02/2018</span>
                                <span class="md-subhead"><span translate="events.text.duedate"></span> 03/03/2018</span>
                            </md-card-title-text>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-warn" translate="events.btn.participants"></md-button>
                            </md-card-actions>
                        </md-card-title>
                        <md-card-content>
                            <p>The titles of Washed Out's breakthrough song...</p>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-warn" translate="events.btn.edit"></md-button>
                            </md-card-actions>
                        </md-card-content>
                    </md-card>
                </md-content>
            </div>
        </div>
    </div>
</div>