<div layout="row" layout-xs="column">
  <div flex>

  </div>
  <div flex>
    <div layout="row" layout-align="center center" layout-margin>
      <img height="100" width="100" src="image/logo.webp" alt="">
    </div>
    <div layout="row" layout-align="center center">
      <h2>Belatrix Connect</h2>
    </div>
    <form ng-init="user={}" ng-submit="getSignIn(user)" name="projectForm">

      <md-card flex-order-gt-xs ng-show="!loading" class="login">
        <md-card-title>
          <md-card-title-text>
            <md-content class="md-no-momentum">
              <md-input-container class="md-block">
                <md-icon md-svg-icon="person" class="email"></md-icon>
                <input  ng-model="user.username" type="text" placeholder="Username">
              </md-input-container>
              <md-input-container class="md-block">
                <md-icon md-svg-icon="lock" class="email"></md-icon>
                <input ng-model="user.password" type="password" placeholder="Password">
              </md-input-container>
            </md-content>
          </md-card-title-text>
          <md-card-title-media>
            <!--div class="md-media-lg card-media">
            </div-->
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="center center">
          <md-button class="md-primary md-raised">
              Cancel
          </md-button>
          <md-button ng-disabled="!user.username || !user.password || sending"
            ng-click="getSignIn(user); sending=true"
            class="md-accent md-raised">
              Sign In
          </md-button>
        </md-card-actions>
      </md-card>

      <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
        <md-progress-circular md-mode="indeterminate" class="md-accent">
        </md-progress-circular>
      </div>

    </form>
  </div>
  <div flex>

  </div>
</div>
