<!--div layout="row">

    <div flex>
    </div>

    <div flex>

      <md-content class="md-padding main">

        <md-card ng-hide="loading">
          <form ng-init="user={}" ng-submit="getSignIn(user)" name="projectForm">
          
            <md-toolbar class="md-primary">
              <h1 class="md-toolbar-tools">
                Login
              </h1>
            </md-toolbar>
            
            <md-card-content>
              
                <md-input-container class="md-block">
                  <label>User</label>
                  <input type="text" name="description" ng-model="user.name">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Password</label>
                  <input type="password" name="clientName" ng-model="user.password" flex>
                </md-input-container>
            
            </md-card-content>
          
            <div class="md-actions" layout="row" layout-align="end center">
              <button type="submit" ng-disabled="!user.name || !user.password" ng-click="getSignIn(user)" class="md-button md-raised md-primary">Sign In</button>
              <md-button ng-click="user={}" class="md-raised">Cancel</md-button>
            </div>
        
          </form>
        </md-card>

        <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
          <md-progress-circular md-mode="indeterminate">
          </md-progress-circular>
        </div>

      </md-content>

    </div>

    <div flex hide-sm>
    </div>

</div-->

<div layout="row" layout-xs="column">
  <div flex>
    I'm above on mobile, and to the left on larger devices.
  </div>
  <div flex-xs flex-gt-xs="50">
    <md-card md-colors="{background: 'deep-orange'}">
      <md-card-title>
        <md-card-title-text>
          <!--span class="md-headline">Card with image</span>
          <span class="md-subhead">Large</span-->

          <md-content class="md-no-momentum" flex-gt-sm="90" md-colors="{background: 'deep-orange'}">
            <md-input-container class="md-block">
              <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
              <input md-maxlength="80" ng-model="user.email" type="email" placeholder="Email" ng-required="true">
            </md-input-container>
            <md-input-container class="md-block">
              <md-icon md-svg-src="img/icons/ic_email_24px.svg" class="email"></md-icon>
              <input md-maxlength="80" ng-model="user.email" type="email" placeholder="Email" ng-required="true">
            </md-input-container>
          </md-content>

        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media">
            <img src="image/logo.webp" alt="">
          </div>
        </md-card-title-media>
      </md-card-title>
      <md-card-actions layout="row" layout-align="end center">
        <md-button class="md-accent md-raised">Action 1</md-button>
        <md-button class="md-accent md-raised">Action 2</md-button>
      </md-card-actions>
    </md-card>
  </div>
  <div flex>
    I'm below on mobile, and to the right on larger devices.
  </div>
</div>