<md-dialog>
	<form name="skillForm" ng-submit="save()">
		<md-toolbar align="center" class="md-toolbar-tools md-primary">
			<span> {{operation}} a Skill</span>
		</md-toolbar>
		<md-dialog-content>
			<div layout="column" layout-padding>
				<div layout-gt-sm="row">
					<md-input-container class="md-block" flex-gt-sm>
						<label><div translate="lbl_new_skill"></div></label>
						<input ng-model="skill.name" name="name" required>
						<div ng-messages="skillForm.name.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
					<md-input-container class="md-block" flex-gt-sm>
						<label><div translate="lbl_status"></div></label>
						<md-select ng-model="skill.is_active" name="status" required>
							<md-option ng-value="true"><div translate="lbl_active"></div></md-option>
							<md-option ng-value="false"><div translate="lbl_inactive"></div></md-option>
						</md-select>
						<div ng-messages="skillForm.status.$error">
							<div ng-message="required">This is required.</div>
						</div>
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()">
				<div translate="btn.cancel"></div>
			</md-button>
			<md-button type="submit" class="md-primary md-raised" ng-disabled="skillForm.$invalid">
				<div translate="btn.save"></div>
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>
