<div layout="row" layout-wrap>
  <section>
    <md-subheader class="md-primary">Lista de Servicios</md-subheader>
    <md-divider></md-divider>
    <md-list-item class="md-2-line" ng-repeat="service in services | orderBy:'name'" ng-disabled="loading" ng-click="showDialog(service, 'update', $event)">
        <!--img ng-show="!user.picture" src="svg/account.svg" class="md-avatar" alt="" /-->
        <div class="md-list-item-text" layout="column">
          <p>Nombre</p>
          <h4>{{ service.name }}</h4>
        </div>
        <div class="md-list-item-text" layout="column">
          <md-switch class="md-secondary" ng-change="changeService(service)" ng-disabled="loading" ng-model="service.active" aria-label="Disabled">
            <span ng-show="service.active">Activo</span>
            <span ng-show="!service.active">Inactivo</span>
          </md-switch>
        </div>
        <div class="md-list-item-text" layout="column" flex>
        </div>
    </md-list-item>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </section>

  <md-button class="md-fab md-fab-fixed" aria-label="Eat cake" ng-click="showDialog({}, 'new', $event)">
      <md-icon md-svg-icon="add-white"></md-icon>
  </md-button>

</div>

