<md-content class="list" flex>
	<div layout-padding layout="row">

		<div flex>
			<md-autocomplete md-input-minlength="2" md-input-maxlength="18" md-search-text="searchText" md-items="skill in skills | filter:searchText"
				md-item-text="skill.name" md-min-lengrh="3" placeholder="{{ 'skills.text.findskills' | translate }}">
				<md-item-template>
					<span md-highlight-text="searchText" md-highlight-flags="^i">{{skill.name}}</span>
				</md-item-template>
				<md-not-found>
					No skill matching "{{searchText}}" were found.
				</md-not-found>
			</md-autocomplete>
		</div>
	</div>
	<md-list layout-wrap>
		<md-list-item ng-repeat="skill in skillsPerPage | filter:searchText | orderBy:'skill.name'" ng-click="selectSkill(skill)">
			<div flex="90">
				<p>{{skill.name}}</p>
			</div>
			<div flex="5">
				<md-button class="md-icon-button" aria-label="Delete Skill" ng-click="deleteSkill($event, skill)">
					<md-tooltip md-direction="top">
						<div translate="tooltip.delete"></div>
					</md-tooltip>
					<md-icon md-svg-icon="delete"></md-icon>
				</md-button>
			</div>
			<div flex="5">
				<md-button class="md-icon-button" aria-label="Edit Skill" ng-click="manageSkill($event, skill,'U')">
					<md-tooltip md-direction="top">
						<div translate="tooltip.edit"></div>
					</md-tooltip>
					<md-icon md-svg-icon="edit"></md-icon>
				</md-button>
			</div>
			<div flex="10">
				<div>
					<div layout="row" layout-align="center" layout-margin>
						<!--<md-switch ng-model="skill.is_active" ng-click="showConfirm($event, skill)">
							{{skill.is_active === true ? switchState = "Activo" : switchState = "Inactivo"}}
						</md-switch>-->
						<md-switch ng-model="skill.is_active" ng-click="showConfirm($event, skill)">
                        </md-switch>
                        <div ng-if="skill.is_active === true">
                          <div translate="skills.switch.active"></div>  
                        </div>
                        <div ng-if="skill.is_active === false">
                          <div translate="skills.switch.inactive"></div>
                        </div>
					</div>
				</div>
			</div>
		</md-list-item>
	</md-list>
	<!-- pager -->
	<section ng-if="pager.pages.length" layout="row" layout-sm="column" layout-align="center center" layout-wrap>

		<md-button ng-class="{disabled:pager.currentPage === 1}" aria-label="First" ng-click="setPage(1)">
			<md-tooltip md-direction="top">
				<div translate="tooltip.first"></div>
			</md-tooltip>
			<md-icon md-svg-icon="/svg/fast_rewind.svg" class="md-avatar"></md-icon>
		</md-button>
		<md-button ng-class="{disabled:pager.currentPage === 1}" aria-label="Previous" ng-click="setPage(pager.currentPage - 1)">
			<md-tooltip md-direction="top">
				<div translate="tooltip.previous"></div>
			</md-tooltip>
			<md-icon md-svg-icon="/svg/skip_previous.svg" class="md-avatar"></md-icon>
		</md-button>
		<md-button ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}" ng-click="setPage(page)">
			{{page}}
		</md-button>
		<md-button ng-class="{disabled:pager.currentPage === pager.totalPages}" aria-label="Next" ng-click="setPage(pager.currentPage + 1)">
			<md-tooltip md-direction="top">
				<div translate="tooltip.next"></div>
			</md-tooltip>
			<md-icon md-svg-icon="/svg/skip_next.svg" class="md-avatar"></md-icon>
		</md-button>
		<md-button ng-class="{disabled:pager.currentPage === pager.totalPages}" aria-label="Last" ng-click="setPage(pager.totalPages)">
			<md-tooltip md-direction="top">
				<div translate="tooltip.last"></div>
			</md-tooltip>
			<md-icon md-svg-icon="/svg/fast_forward.svg" class="md-avatar"></md-icon>
		</md-button>

	</section>

</md-content>

<md-button class="md-fab md-fab-fixed-right" aria-label="Eat cake" ng-click="manageSkill($event,undefined,'A')">
	<md-tooltip md-direction="left">
		Add Skill
	</md-tooltip>
  <md-icon md-svg-icon="add-white"></md-icon>
</md-button>
