<div layout="row">

    <div flex>
    </div>

    <div flex>

      <md-content class="md-padding main">

        <md-card ng-hide="loading">
          <form ng-init="user={}"
                ng-submit="getSignIn(user)"
                name="projectForm">

            <md-toolbar class="md-primary">
              <h1 class="md-toolbar-tools">
                Login
              </h1>
            </md-toolbar>

            <md-card-content>

                <md-input-container class="md-block">
                  <label>User</label>
                  <input type="text"
                         name="description"
                         ng-model="user.name">
                </md-input-container>
                <md-input-container class="md-block">
                  <label>Password</label>
                  <input type="password"
                         name="clientName"
                         ng-model="user.password"
                         flex>
                </md-input-container>

            </md-card-content>

            <div class="md-actions"
                 layout="row"
                 layout-align="end center">
              <button type="submit"
                      ng-disabled="!user.name || !user.password"
                      ng-click="getSignIn(user)"
                      class="md-button md-raised md-primary">
                  Sign In
              </button>
              <md-button ng-click="user={}"
                         class="md-raised">
                 Cancel
              </md-button>
            </div>

          </form>
        </md-card>

        <div layout="row"
             layout-sm="column"
             layout-align="space-around"
             ng-show="loading">
          <md-progress-circular md-mode="indeterminate">
          </md-progress-circular>
        </div>

      </md-content>

    </div>

    <div flex hide-sm>
    </div>

</div>
