<md-dialog style="width:450px">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
         <div class="md-toolbar-tools">
          <h3>
            <span ng-show="service.name">{{service.name}}</span>
            <span ng-show="!service.name">Nuevo Servicio</span>
          </h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="close-light" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <progress-linear></progress-linear>
    <md-dialog-content layout-padding>
      <br />
      <form>
        <md-input-container class="md-block">
          <label for="testInput">Nombre del Servicio</label>
          <input type="text" id="testInput"
                ng-model="service.name" md-autofocus>
        </md-input-container>
      </form>
      <md-divider inset></md-divider>
      <form>
        <md-input-container class="md-block">
          <span ng-show="service.active">Activo</span>
          <span ng-show="!service.active">Inactivo</span>
          <br>
          <md-switch class="md-secondary" ng-disabled="loading" ng-model="service.active" aria-label="Disabled">
          </md-switch>
        </md-input-container>
      </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-disabled="!service.name || !service.active" ng-show="action=='new'" ng-click="serviceSave(service)" class="md-primary md-raised">
        Crear
      </md-button>
      <md-button ng-disabled="!service.name || !service.active" ng-show="action=='update'" ng-click="changeService(service)" class="md-primary md-raised">
        Grabar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>