<md-dialog style="width:450px">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
         <div class="md-toolbar-tools">
          <h3>
            <span ng-show="user.name">{{user.name}}</span>
            <span ng-show="!user.name">Nuevo Usuario</span>
          </h3>
        </div>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-icon="close-light" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <progress-linear></progress-linear>
    <md-dialog-content layout-padding>
      <form>
        <div align="center">
          <img ng-show="user.picture" ng-src="{{ user.picture }}" class="md-profile-avatar" alt="" />
          <img ng-show="!user.picture" src="svg/account.svg" class="md-profile-avatar" alt="" />
        </div>
        <br>
        <md-input-container class="md-block">
          <label for="testInput">Nombre de Usuario</label>
          <input type="text" id="testInput"
                ng-model="user.username" md-autofocus>
        </md-input-container>
        <md-input-container class="md-block">
          <label for="testInput">Clave</label>
          <input type="password" id="testInput"
                ng-model="user.password">
        </md-input-container>
      </form>
      <md-divider inset></md-divider>
      <form>
        <md-input-container class="md-block">
          <label for="testInput">Nombre</label>
          <input type="text" id="testInput"
                ng-model="user.name">
        </md-input-container>
        <md-input-container class="md-block">
          <label for="testInput">Apellidos</label>
          <input type="text" id="testInput"
                ng-model="user.lastName">
        </md-input-container>
        <md-input-container class="md-block">
          <label for="testInput">Correo</label>
          <input type="text" id="testInput"
                ng-model="user.email">
        </md-input-container>
        <md-input-container class="md-block">
          <label for="testInput">Rol</label>
          <md-select ng-model="user.role.type">
            <md-optgroup label="Rol">
              <md-option value="owner">  
                Owner
              </md-option>
              <md-option value="master">  
                Master
              </md-option>
              <md-option value="user">  
                User
              </md-option>
            </md-optgroup>
          </md-select>
          <br>
        </md-input-container>
        <md-input-container class="md-block">
          <label for="testInput">Cargo</label>
          <md-select ng-model="user.perfomance.type">
            <md-optgroup label="Cargo">
              <md-option value="administrator">  
                Administrator
              </md-option>
              <md-option value="user">  
                Ventas
              </md-option>
            </md-optgroup>
          </md-select>
          <br>
        </md-input-container>
        <md-input-container class="md-block">
          <label for="testInput">Departamento</label>
          <md-select ng-model="user.department.name">
            <md-optgroup label="Cargo">
              <md-option value="Lima">  
                Lima
              </md-option>
              <md-option value="Piura">  
                Piura
              </md-option>
              <md-option value="*">  
                Todo
              </md-option>
            </md-optgroup>
          </md-select>
          <br>
        </md-input-container>
        <md-input-container class="md-block">
          <span ng-show="user.active">Activo</span>
          <span ng-show="!user.active">Inactivo</span>
          <br>
          <md-switch class="md-secondary" ng-disabled="loading" ng-model="user.active" aria-label="Disabled">
            </md-switch>
        </md-input-container>
      </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-disabled="!user.username || !user.name || !user.password || !user.email || !user.active" ng-show="action=='new'" ng-click="userSave(user)" class="md-primary md-raised">
        Crear
      </md-button>
      <md-button ng-disabled="!user.username || !user.name || !user.password || !user.email || !user.active" ng-show="action=='update'" ng-click="changeUser(user)" class="md-primary md-raised">
        Grabar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>